{% include base_path %}

{% assign main_nav = site.data.navigation.main %}
{% assign header_links = nil %}
{% if main_nav %}
  {% assign header_links = main_nav[current_locale] %}
  {% if header_links == nil and site.languages.default %}
    {% assign header_links = main_nav[site.languages.default] %}
  {% endif %}
  {% if header_links == nil %}
    {% assign header_links = main_nav %}
  {% endif %}
{% endif %}

{% assign available_languages = site.languages.available %}
{% if available_languages %}
  {% assign available_languages = available_languages | join: ',' | split: ',' %}
{% else %}
  {% assign available_languages = site.languages.default | default: current_locale %}
  {% assign available_languages = available_languages | split: ',' %}
{% endif %}
{% assign language_labels = site.language_labels | default: {} %}

{% assign translation_scope = site.pages | concat: site.posts %}
{% for col in site.collections %}
  {% unless col.label == "posts" %}
    {% assign translation_scope = translation_scope | concat: col.docs %}
  {% endunless %}
{% endfor %}
{% assign lang_reference = page.lang_ref | default: page.permalink | default: page.url %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in header_links %}
            {% assign link_title = link.title | default: link.name %}
            {% assign link_url = link.url | default: link.path %}
            {% if link_url %}
              {% if link_url contains '://' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link_url }}">{{ link_title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="masthead__right-controls">
          {% if available_languages and available_languages.size > 1 %}
            <div class="language-switch">
              {% for lang_code in available_languages %}
                {% assign label = language_labels[lang_code] | default: lang_code %}
                {% if forloop.index0 > 0 %}<span class="language-switch__sep">/</span>{% endif %}
                {% if lang_code == current_locale %}
                  <span class="language-switch__link language-switch__link--active" aria-current="true">{{ label }}</span>
                {% else %}
                  {% assign destination = nil %}
                  {% if lang_reference %}
                    {% assign translations = translation_scope | where: "lang_ref", lang_reference %}
                    {% assign destination = translations | where: "lang", lang_code | first %}
                    {% if destination == nil %}
                      {% assign destination = translations | where: "locale", lang_code | first %}
                    {% endif %}
                  {% endif %}
                  {% assign destination_url = nil %}
                  {% if destination %}
                    {% assign destination_url = destination.url %}
                  {% endif %}
                  {% if destination_url == nil %}
                    {% assign fallback_links = nil %}
                    {% if main_nav %}
                      {% assign fallback_links = main_nav[lang_code] %}
                      {% if fallback_links == nil and site.languages.default %}
                        {% assign fallback_links = main_nav[site.languages.default] %}
                      {% endif %}
                    {% endif %}
                    {% if fallback_links == nil %}
                      {% assign fallback_links = header_links %}
                    {% endif %}
                    {% if fallback_links %}
                      {% assign first_fallback = fallback_links | first %}
                      {% if first_fallback %}
                        {% assign destination_url = first_fallback.url | default: first_fallback.path | default: "/" %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  {% assign destination_url = destination_url | default: "/" %}
                  {% if destination_url contains '://' %}
                    <a class="language-switch__link" href="{{ destination_url }}">{{ label }}</a>
                  {% else %}
                    <a class="language-switch__link" href="{{ base_path }}{{ destination_url }}">{{ label }}</a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          <div id="theme-toggle">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </div>
        </div>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
